In [1]:
import pandas as pd
from nltk.tokenize import word_tokenize
import string
from nltk.corpus import stopwords
from textblob import Word

# Function to clean the description of companies
def description_cleaning(df):
    stop = stopwords.words('english')
    
    # Removing punctuations and all digits from description
    filterString = string.punctuation + '“”|”' + string.digits
    df['Filter Description'] = df['Description'].apply(lambda x: x.translate(str.maketrans(filterString,' '*len(filterString),'')))
    
    # Removing all single characters
    df['Filter Description'] = df['Filter Description'].replace('\s+[a-zA-Z]\s+', ' ', regex=True)

    # Removing single characters in beginning
    df['Filter Description'] = df['Filter Description'].replace('\^[a-zA-Z]\s+', ' ', regex=True)

    # Removing multiple spaces
    df['Filter Description'] = df['Filter Description'].replace('\s+', ' ', regex=True)

    # Converting text to lowercase
    df['Filter Description'] = df['Filter Description'].apply(lambda x: x.lower())

    # Removing stop words from description
    df['Filter Description'] = df['Filter Description'].str.split(' ').apply(lambda x: ' '.join(k for k in x if k not in stop))

    # Lemmatizing all words in the description
    df['Filter Description'] = df['Filter Description'].apply(lambda x: "".join([Word(word).lemmatize() for word in x]))
    
    # Drop the unfiltered description column
    df.drop("Description", axis = 1, inplace = True)
    
    return df

# Function to find similarity between two discription using cosine similarity
def find_similarity(X, Y):
    # tokenization 
    X_list = word_tokenize(X)  
    Y_list = word_tokenize(Y)

    l1 =[];l2 =[] 

    # remove stop words from string 
    X_set = set(X_list)  
    Y_set = set(Y_list)

    # form a set containing keywords of both strings  
    rvector = X_set.union(Y_set)  
    for w in rvector: 
        if w in X_set: l1.append(1) # create a vector 
        else: l1.append(0) 
        if w in Y_set: l2.append(1) 
        else: l2.append(0) 
    c = 0

    # cosine formula  
    for i in range(len(rvector)): 
            c+= l1[i]*l2[i]

    cosine = c / float((sum(l1)*sum(l2))**0.5)
    
    return cosine

# Function to find similar company to the input company website
def find_similar_company(website, data):
    
    # Finding the description of the company whose website is input website
    des1 = data["Filter Description"][data["Website"].str.lower() == website.lower()].values[0]
    
    # List to store similarity values between descriptions
    Similarity = []
    
    # Loop for finding similarity values between the description
    for i in range(data.shape[0]):
        des2 = data["Filter Description"][i]
        similarity_between_des1_and_des2 = find_similarity(des1, des2)
        Similarity.append([data["Website"][i], similarity_between_des1_and_des2])
        
    # Create the pandas DataFrame which contains the website and similarity value with respect to input website
    df = pd.DataFrame(Similarity, columns = ['Website', 'Similarity Value'])
    
    # Sorting the company based on similarity value of description
    df.sort_values(by=['Similarity Value'], ascending = False, inplace = True)
    
    # Eliminate whose similarity value is one because it is the same company
    df = df[df["Similarity Value"]!=1]
    
    # Giving rank to the company
    Rank = [i+1 for i in range(df.shape[0])]
    df["Rank"] = Rank
    
    # Dropping the Similarty value column
    df.drop("Similarity Value", axis = 1, inplace = True)
        
    return df

# Reading the csv file containg description and website of the company
data = pd.read_csv("SimilarCompaniesRecommendation.csv")

# Function call to clean the description
data = description_cleaning(data)

# Results

Lower the rank higher the similarity means Rank 1 is most similar to the input company and as rank increases similarty decreases

In [2]:
find_similar_company("Cloudbees.com", data)

           Website  Rank
0       Gitlab.com     1
2  Squarespace.com     2
3          Wix.com     3

In [3]:
find_similar_company("Gitlab.com", data)

           Website  Rank
1    Cloudbees.com     1
2  Squarespace.com     2
3          Wix.com     3

In [4]:
find_similar_company("Wix.com", data)

           Website  Rank
2  Squarespace.com     1
0       Gitlab.com     2
1    Cloudbees.com     3

In [5]:
find_similar_company("Squarespace.com", data)

         Website  Rank
3        Wix.com     1
0     Gitlab.com     2
1  Cloudbees.com     3