In [ ]:
from dateutil import parser
import pandas as pd

# **Dummy dataset for Task 1**

In [ ]:
data1 = [[1, '02/17/2009', '20090317', '17 February, 2009'], [2, '20 March, 2010', '2014, Feb 17', '19/5/2009'], [3, '20/6/2025', '2014, Feb 20', '02/17/2009'], [4, '17/1/1998', '20190525', '20190217'], [5, '20090225', '17 February, 2020', '17 January, 1998'], [6, '2014, Feb 17', 'Feb172015', '27/9/1980'], [7, 'Feb202019', '02/17/2009', 'Feb052050']]
dummy_dataframe1 = pd.DataFrame(data1, columns = ['Id', 'Date1', 'Date2', 'Date3'])
dummy_dataframe1

   Id           Date1              Date2              Date3
0   1      02/17/2009           20090317  17 February, 2009
1   2  20 March, 2010       2014, Feb 17          19/5/2009
2   3       20/6/2025       2014, Feb 20         02/17/2009
3   4       17/1/1998           20190525           20190217
4   5        20090225  17 February, 2020   17 January, 1998
5   6    2014, Feb 17          Feb172015          27/9/1980
6   7       Feb202019         02/17/2009          Feb052050

# **Task 1.1**

In [ ]:
# Function to identify which columns have date in them
def identify_date_columns(dataframe):
  Date_Column_Names = [] # List to store the columns which have date in them
  for column in dataframe.columns:
    try: # Try to get 4 digits value and store in the list
      val = dataframe[column].str.extract(r'(\d{4})')  # extracting 4 digits value from columns because year must have 4 digits value
      if val.isnull().sum()[0] != len(val):  # Checking we got such values or not
        Date_Column_Names.append(column)
    except:  # If we did not get then simply pass the control to next column
      pass
  return Date_Column_Names

Date_Column_Names = identify_date_columns(dummy_dataframe1)  # Function Call
print("Columns which have date in them are", Date_Column_Names)

Columns which have date in them are ['Date1', 'Date2', 'Date3']

# **Task 1.2**

In [ ]:
# Funtion to convert string data type to datetime datatype
def convert_string_into_date(dummy_dataframe1, Date_Column_Names):
  for column in Date_Column_Names:
    col = []
    for date in dummy_dataframe1[column]:
      col.append(parser.parse(date).date())  # Converts a string date to datatime date and append into list Col
    dummy_dataframe1["Modified_"+column] = col  # Adding a new column in dataframe
  return dummy_dataframe1

modify_dummy_dataframe1 = convert_string_into_date(dummy_dataframe1, Date_Column_Names)  # Function Call
modify_dummy_dataframe1.drop(["Id", "Date1", "Date2", "Date3"], axis=1)  # Drops unwanted columns

column_list = modify_dummy_dataframe1.columns
for col1 in column_list:
  for col2 in column_list:
    if col1 is not col2:
      modify_dummy_dataframe1[col1 + " - " + col2] = modify_dummy_dataframe1[col1] - modify_dummy_dataframe1[col2]  # Subtration of date from two columns taken at a time

modify_dummy_dataframe1

  Modified_Date1  ... Modified_Date3 - Modified_Date2
0     2009-02-17  ...                        -28 days
1     2010-03-20  ...                      -1735 days
2     2025-06-20  ...                      -1829 days
3     1998-01-17  ...                        -97 days
4     2009-02-25  ...                      -8066 days
5     2014-02-17  ...                     -14391 days
6     2020-02-21  ...                       4021 days

[7 rows x 9 columns]

# **Task 1.3**

In [ ]:
modify_dummy_dataframe1.drop(['Modified_Date1', 'Modified_Date2', 'Modified_Date3'], axis=1) # Drops unwanted columns

  Modified_Date1 - Modified_Date2  ... Modified_Date3 - Modified_Date2
0                        -28 days  ...                        -28 days
1                      -1430 days  ...                      -1735 days
2                       4138 days  ...                      -1829 days
3                      -7798 days  ...                        -97 days
4                      -4009 days  ...                      -8066 days
5                      -2195 days  ...                     -14391 days
6                       4021 days  ...                       4021 days

[7 rows x 6 columns]

# **Dummy dataset for Task 2**

In [ ]:
data2 = [[10, 11, 13, 15 , 17], [45, 24, 89, 74, 62], [12, 24, 36, 48, 60]]
dummy_dataframe2 = pd.DataFrame(data2, columns=["v1","v2","v3","v4","v5"])
dummy_dataframe2

   v1  v2  v3  v4  v5
0  10  11  13  15  17
1  45  24  89  74  62
2  12  24  36  48  60

## **Task 2.1**

In [ ]:
# Calculating Pearson correlation
dummy_dataframe2.corr()

          v1        v2        v3        v4        v5
v1  1.000000  0.543413  0.969251  0.857146  0.576012
v2  0.543413  1.000000  0.733273  0.898170  0.999226
v3  0.969251  0.733273  1.000000  0.957536  0.759450
v4  0.857146  0.898170  0.957536  1.000000  0.914768
v5  0.576012  0.999226  0.759450  0.914768  1.000000

# **Task 3.1**

# Imputation
Data scientists are expected to come up with an appropriate strategy to handle missing data during, both, model training/testing phase and also model prediction time (runtime). This is called Data Imputation.

Some imputation techniques which could be used to replace missing data with appropriate values during model prediction time
1. Input data validation
2. Predicted value imputation
3. Distribution-based imputation
4. Unique value imputation
5. Reduced feature models

## Input Data Validation
Before sending the data to the model, the consumer/caller program validates if data for all the features are present. If the data for all of the features are not present, the caller program doesn’t invoke the model at all and takes on some value or show exceptions. For beginners, this could be a technique to start with. If this technique is used during training model training/testing phase, it could result in model bias.

## Predicted Value Imputation (PVI)
In this technique, one of the following methods is followed to impute missing data and invoke the model appropriately to get the predictions:

Impute with mean or mode value: In place of missing value, mean or mode value is taken appropriately for continuous and categorical data respectively.
Impute with predicted value: Another technique is understanding/learning the relationship between missing data and other features value in other test instances where data were found for feature representing missing data, and appropriately predict the missing data based on the value of other features for the instances where data is found to be missing. One could, however, argue that if a feature value can be estimated using other feature values, isn’t it the case of correlates and thus the feature could be imputed. One needs to watch out for feature imputability scenarios.

## Distribution-based Imputation (DBI)
In this technique, for the (estimated) distribution over the values of an attribute/feature (for which data is missing), one may estimate the expected distribution of the target variable (weighting the possible assignments of the missing values). The final prediction could be weighted average (mean or mode) value of all the prediction. This strategy is common for applying classification trees in AI research and practice. This technique is fundamentally different from predicted value imputation because it combines the classifications across the distribution of a feature’s possible values, rather than merely making the classification based on its most likely value.

## Unique Value Imputation 
In this technique, a unique value is imputed in place of missing values. This technique is recommended when it can be determined if the data is generally found to be missing for a particular label/class value and, this dependence is found during model training/testing phase. One of the techniques used for imputing missing data with unique value is randomly selecting similar records. This is also termed as hot-deck cold deck imputation technique. The random selection for missing data imputation could be instances such as a selection of last observation (also termed Last observation carried forward – LOCF).

## Reduced Feature Models
In this technique, different models are built with the different set of features with the idea that appropriate models with only those set of features are used for making predictions for which the data is available. This is against applying imputation to missing data using one of the above techniques. For example, let’s say that a model is built with feature A, B, AB, C, D. As part of analysis it is found out that most of the time, data related to feature D would be missing. Thus, using the reduced feature modelling technique, another model using features A, B, AB, and C is built. In production, both the models get deployed and in case the data is found to be missing data for feature D, the model trained with features A, B, AB and C is used or else, the model with all features including feature D is used.

# Feature Selection
Feature Selection is a technique which selects the most relevant features from the original dataset.

Top reasons to use feature selection are:
•	It enables the machine learning algorithm to train faster.
•	It reduces the complexity of a model and makes it easier to interpret.
•	It improves the accuracy of a model if the right subset is chosen.
•	It reduces overfitting.

Various methodologies and techniques that you can use to subset your feature space and help your models perform better and efficiently. 

## 1. Filter Methods
 
Filter methods are generally used as a preprocessing step. The selection of features is independent of any machine learning algorithms.
 
•	Pearson’s Correlation: It is used as a measure for quantifying linear dependence between two continuous variables X and Y. Its value varies from -1 to +1. Pearson’s correlation is given as:
 
•	LDA: Linear discriminant analysis is used to find a linear combination of features that characterizes or separates two or more classes (or levels) of a categorical variable.

•	ANOVA: ANOVA stands for Analysis of variance. It is similar to LDA except for the fact that it is operated using one or more categorical independent features and one continuous dependent feature. It provides a statistical test of whether the means of several groups are equal or not.

•	Chi-Square: It is a is a statistical test applied to the groups of categorical features to evaluate the likelihood of correlation or association between them using their frequency distribution.

Note: Filter methods do not remove multicollinearity. So, you must deal with multicollinearity of features as well before training models for your data.

## 2. Wrapper Methods
 
In wrapper methods, we try to use a subset of features and train a model using them. Based on the inferences that we draw from the previous model, we decide to add or remove features from your subset. The problem is essentially reduced to a search problem. These methods are usually computationally very expensive.
Some common examples of wrapper methods are forward feature selection, backward feature elimination, recursive feature elimination, etc.

•	Forward Selection: Forward selection is an iterative method in which we start with having no feature in the model. In each iteration, we keep adding the feature which best improves our model till an addition of a new variable does not improve the performance of the model.

•	Backward Elimination: In backward elimination, we start with all the features and removes the least significant feature at each iteration which improves the performance of the model. We repeat this until no improvement is observed on removal of features.

•	Recursive Feature elimination: It is a greedy optimization algorithm which aims to find the best performing feature subset. It repeatedly creates models and keeps aside the best or the worst performing feature at each iteration. It constructs the next model with the left features until all the features are exhausted. It then ranks the features based on the order of their elimination.
One of the best ways for implementing feature selection with wrapper methods is to use Boruta package that finds the importance of a feature by creating shadow features.


## 3. Embedded Methods
 
Embedded methods combine the qualities’ of filter and wrapper methods. It’s implemented by algorithms that have their own built-in feature selection methods.

Some of the most popular examples of these methods are LASSO and RIDGE regression which have inbuilt penalization functions to reduce over fitting.

•	Lasso regression performs L1 regularization which adds penalty equivalent to absolute value of the magnitude of coefficients.

•	Ridge regression performs L2 regularization which adds penalty equivalent to square of the magnitude of coefficients.

Other examples of embedded methods are Regularized trees, Memetic algorithm, Random multinomial logit.

# Normalization
Normalization is a technique often applied as part of data preparation for machine learning. The goal of normalization is to change the values of numeric columns in the dataset to use a common scale, without distorting differences in the ranges of values or losing information. Normalization is also required for some algorithms to model the data correctly.

Some methods for Normalization

1. Zscore: Converts all values to a z-score.
2. MinMax: The min-max normalizer linearly rescales every feature to the [0,1] interval.
3. Logistic: The values in the column are transformed using the following formula:
4. LogNormal: This option converts all values to a lognormal scale.
5. TanH: All values are converted to a hyperbolic tangent.

# **Task 4.1**

1. Use some of Python’s “speedup” applications

Python has developed a reputation as a solid, high-performance language. Lots has been done in recent years to get to this point. The PyPy project aims to speed up Python as a whole (and is doing a great job of it). And Numba is another tool that can offer amazing speedups by implementing high performance functions written directly in Python.

2. Using generators & sorting with keys

Generators are helpful in memory optimization because they allow you to create a function that returns one item at a time rather than all the items at once. A good example would be when you’re creating a large list of numbers and adding them together.

Also, when you’re sorting items in a list, be sure to use keys and the default sort() method whenever possible. 


3. Using the latest releases of Python

Python is maintained through a community of developers who are committed to keeping the software current and robust. Each new release of the language is technically going to be faster and more optimized than before, so it’s a good idea to plan your move. Just be sure that your favorite supporting libraries are compatible with the newest versions.

4. Avoid unwanted loops

The consensus is out that too much looping in any programming language is not a good thing, and puts unnecessary strain on your server. Some simple tweaks like storing the length of an array in a different variable instead of making it read the length at every iteration of the loop, can go a long way to optimizing your code and ensuring things run much more efficiently. Also, try refactoring your code to use intersections and unions.

5. Try out multiple coding approaches

It’s typical to employ the same general coding techniques throughout your application. But why not try a little experimentation to see if one technique is better or more optimal than another. This will help keep you sharp and innovative in your approaches to coding, no matter what language you’re working in. By learning to “think outside the box” you’ll creatively apply new coding techniques to obtain faster results with your applications.

6. Keep Python code small and light

It is often the case in programming that simplest is fastest. In this day and age performance is critical and it’s especially important to keep your Python code as compact as possible to reduce latency and speed things up. One article provides some organizing questions that are worth asking in the development stage: “Do we really need this module?”, “Why are we using this framework? Is it worth the overhead?”, “Can we do this in a simpler way?”

 

7. Cloud-based application performance monitoring

Your Python-based applications and websites are only as good as the performance of your infrastructure, which is why application performance is too important to leave to chance. What this requires is the best-in-class monitoring capability for all your IT systems. That’s exactly what you’ll find in Monitis. As the trusted leader in this market, Monitis offers a 24/7 cloud-based monitoring platform for websites, servers, applications, and networks. Through an easy to follow and intuitive web-interface, Monitis tracks all of your business-critical applications to ensure everything is running optimally and that you’re alerted to issues long before your customers are.

# **Dummy dataset for Task 5**

In [ ]:
data5 = [['Bob', '6th Street,Sterling VA 20165-7513'], ['John', '7th Street, Wilmington NC 28411'], ['Mohan', '7th Street, Wilmington, 847226'], ['Sonu', '6th Street,Sterling VA']]
dummy_dataframe5 = pd.DataFrame(data5, columns = ['Name', 'Address'])
dummy_dataframe5

    Name                            Address
0    Bob  6th Street,Sterling VA 20165-7513
1   John    7th Street, Wilmington NC 28411
2  Mohan     7th Street, Wilmington, 847226
3   Sonu             6th Street,Sterling VA

## **Task 5.1**

In [ ]:
dummy_dataframe5['Zip'] = dummy_dataframe5['Address'].str.extract(r'(\d{5})') # Extracting the 5 digit value from address and adding a new column Zip into dataframe, NaN means address does not contain zip code
dummy_dataframe5

    Name                                Address    Zip
0    Bob  123 6th Street,Sterling VA 20165-7513  20165
1   John    567 7th Street, Wilmington NC 28411  28411
2  Mohan         7th Street, Wilmington, 847226  84722
3   Sonu                 6th Street,Sterling VA    NaN

# **Dummy dataset for Task 6**

In [ ]:
data6 = [[2, "Susil", 0, "Kumar"], [1, "Mohan", 0, "Kumar"], [2, "Sohan", 1, "Sah"], [3, "Sohan", 0, "Kumar"], [1, "Sunil", 1, "Mahto"], [3, "Mohan", 1, "Sah"]]
dummy_dataframe6 = pd.DataFrame(data6, columns = ["Col1", "Col2", "Col3", "Col4"])
dummy_dataframe6

   Col1   Col2  Col3   Col4
0     2  Susil     0  Kumar
1     1  Mohan     0  Kumar
2     2  Sohan     1    Sah
3     3  Sohan     0  Kumar
4     1  Sunil     1  Mahto
5     3  Mohan     1    Sah

## **Task 6.1**

In [ ]:
# Function to identify datatype of columns and typos present in columns
def address_typos(dataframe):
  for column in dataframe.columns:
    print("For column",column,"Data type is",dataframe[column].dtype,"Typos are",dataframe[column].unique()) # Using unique we can find the typos of a column

address_typos(dummy_dataframe6)

For column Col1 Data type is int64 Typos are [2 1 3]
For column Col2 Data type is object Typos are ['Susil' 'Mohan' 'Sohan' 'Sunil']
For column Col3 Data type is int64 Typos are [0 1]
For column Col4 Data type is object Typos are ['Kumar' 'Sah' 'Mahto']